<div>
  <div class="board-row">
    <app-square (squareClick)="onSquareClicked($event)"></app-square>
    <app-square (squareClick)='onSquareClicked($event)'></app-square>
    <app-square (squareClick)='onSquareClicked($event)'></app-square>
  </div>
  <div class="board-row">
    <app-square (squareClick)='onSquareClicked($event)'></app-square>
    <app-square (squareClick)='onSquareClicked($event)'></app-square>
    <app-square (squareClick)='onSquareClicked($event)'></app-square>
  </div>
  <div class="board-row">
    <app-square (squareClick)='onSquareClicked($event)'></app-square>
    <app-square (squareClick)='onSquareClicked($event)'></app-square>
    <app-square (squareClick)='onSquareClicked($event)'></app-square>
  </div>
</div>

